<div class="container">
  <div class="image-columns">
    <% @images.each do |image| %>
      <% next unless image.file.attachment.present? %>
      <%= link_to image_path(:id => image.id) do %>
        <%= image_tag image.file.variant(resize: "750x750"), class: 'list-item-img' %>
      <% end %>
    <% end %>
  </div>
  <div class="row mt-5">
    <%= link_to 'Upload Image', new_image_path, class: 'btn btn-primary' %>
  </div>
</div>